.sidebar__library {
    background-color: #121212;
    border-radius: 8px; /* faz a borda ficar redonda */
    display: flex;
    justify-content: space-between;
    min-block-size: 400px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px; /* margem */
    flex-direction: column;
}

.sidebar__library nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar__library ul li {
    padding: 10px 0;
}

.sidebar__library .create__playlist {
  background-color: #282828;
  border-radius: 8px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  
  font-family: "DM Sans", sans-serif;
  margin-top: 10px;
  flex-direction: column;
  border-radius: 8px;

}

.sidebar__library .create__playlist h1 {
  padding: 10px 0;
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

.sidebar__library .create__playlist p {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

.sidebar__library button {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    padding: 8px 16px;
    cursor: pointer;
    margin: 10px;
}
  